/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #ec071a;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* For high resolution screen sizes */
@media (min-width: 1500px) {
  body {
      font-size: 1.5rem;
  }
  .table-text {
      font-size: 1.5rem;
  }
  .custom-table {
      width: 70%;
  }
  .card {
    width: 20rem;
  }
  .card-text {
    font-size: large;
  }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
  body {
      font-size: 1.1rem;
  }
  .table-text {
      font-size: 1.0rem;
  }
  .custom-table {
      width: 70%;
  }
  .card {
    width: 10rem;   
  }
  .card-text {
    font-size: medium;
  }
}

/* For mobile */
@media (max-width: 750px) {
  body {
      font-size: 0.9rem;
  }
  .table-text {
      font-size: 0.6rem;
  }
  .custom-table {
      width: 90%;
  }
  .card {
    width: 5rem;
  }
  .card-text {
    font-size: small;
  }
}
