@{
    ViewData["Title"] = "Home";
}

<head>  
    <meta name="viewport" content="width=device-width" />  
    <title></title>  
</head> 
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3 class="lead"><small class="text-muted">to</small></h3>
        <h1 class="lead" style="font-size: x-large;">Fantasy Premier League Forecaster</h2>
    </div>
    <hr/>
    <div class="box">
        <blockquote class="blockquote" style="text-align: center;">
            <p class="mb-0">Not everything that can be counted counts, and not everything that counts can be counted.</p>
            <footer class="blockquote-footer">Albert Einstein</footer>
        </blockquote>
    </div>
</body>