@{
    ViewData["Title"] = "Home";
}

<head>  
    <meta name="viewport" content="width=device-width" />  
    <title></title>  
</head> 
<div class="container">
    <section id="introSection">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h3 class="lead"><small class="text-muted">to</small></h3>
            <h1 class="lead" style="font-size: x-large;">Fantasy Premier League Forecaster</h2>
        </div>
        <hr/>
        <div class="box">
            <blockquote class="blockquote" style="text-align: center;">
                <p class="mb-0">Not everything that can be counted counts, and not everything that counts can be counted.</p>
                <footer class="blockquote-footer">Albert Einstein</footer>
            </blockquote>
        </div>
        <div class="row justify-content-md-center">
            <svg onclick="scrollToMain()" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
    </section>
    <section id="infoSection">
        <h4>
            Purpose
        </h4>
        <p>
            The main purpose of this application is to extract, analyze, and present <a href="https://fantasy.premierleague.com/">Fantasy Premier League</a> 
            data in order to assist Fantasy Premier League players in making selections for their teams. Additionally, it serves as an educational introduction to 
            web development and the ASP.NET Core framework for myself. As my skills in web development, knowledge of the framework and data analysis improve, I will return to 
            this project and optimize the code and to incorporate best practices. 
        </p>
        <h4>
            What is Fantasy Premier League?
        </h4>
        <p>
            Fantasy Premier League (FPL) is an online game that puts each player in the role of a manager for every Premier League season. With a given budget, each player
            has to choose a team of real-life players in the Premier League and receives points every gameweek based on their selected team's performance in real life. The player can join 
            leagues that pits them against other players in terms of total points, or different head-to-head matchups every gameweek, resulting in a conventional league table. 
        </p>
        <h4>
            How the Application Works
        </h4>
        <p>
            The FPL website has a public application programming interface (API) that anyone can access to retrieve data. Through multiple endpoints, detailed data is available
            for the current season, and basic information is made available for past seasons. On startup, the application utilizes custom clients to retrive data through the API
            and store it in the application's memory, thus making it easily accessible for data visualization and analysis during the instance of the application. With the current 
            season's data, analysis is conducted to choose the best FPL team and present visuals of the data for teams, players, and FPL managers.
        </p>
        <h4>
            Frameworks and Libraries Used
        </h4>
        <ul style="margin-bottom: 60px;">
            <li>ASP.NET Core</li>
            <li>Chart.js</li>
            <li>Newtonsoft</li>
            <li>Bootstrap 4.3.1</li>
        </ul>
    </section>
</div>    
<script type="text/javascript">
    function scrollToMain()
    {
        document.getElementById('infoSection').scrollIntoView({behavior: "smooth"});
    }
</script>