@{
    ViewData["Title"] = "Home";
}

<head>  
    <meta name="viewport" content="width=device-width" />  
    <title></title>  
</head> 
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3 class="lead"><small class="text-muted">to</small></h3>
        <h1 class="lead" style="font-size: x-large;">Fantasy Premier League Forecaster</h2>
    </div>
    <hr/>
    <div class="box">
        <blockquote class="blockquote" style="text-align: center;">
            <p class="mb-0">Not everything that can be counted counts, and not everything that counts can be counted.</p>
            <footer class="blockquote-footer">Albert Einstein</footer>
        </blockquote>
    </div>
    <div class="row justify-content-md-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
</div>    