@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please insert your manager ID to view your data.</p>
    <form method="post" enctype="multipart/form-data" asp-controller="Data" asp-action="GetManagerData" asp-route-id="manager_id">
        Manager ID: <input type="text" width="10"/>
        &nbsp;&nbsp;
        <input type="submit" value="Get Data" style="background-color: aliceblue;"></>
    @DataService.Data.ManagerData
    </form>
    
</div>
