<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script> 
@{
    ViewData["Title"] = "Manager View";
}
@using FPLForecaster.Models.Manager;
@{var manData = DataService.Data.ManagerData;}

<div id="gameweekPointsChart"></div>
<script type="text/javascript">  

    google.charts.load('current', {  
        packages: ['corechart', 'line']  
    });  
    google.charts.setOnLoadCallback(drawGameweekPointsChart);

    function drawGameweekPointsChart()
    {
        var dataArray = manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => new {y.number, y.points}).ToArray();
        
        var chartData = new google.visualization.DataTable();
        chartData.addColumn('number', 'Gameweek');
        chartData.addColumn('number', 'Points');
        chartData.addRows(dataArray);
        var options = {
            title: "Gameweek Points for Current Season",
            pointSize: 5
        }

        var chart = new google.visualization.LineChart(document.getElementById('gameweekPointsChart'));
        chart.draw(chartData, options);
    }
</script>

<div class="text-center">
    @if (DataService.HasManagerData)
    {
        <h1 class="display-4">Welcome <span style="color: #05386B;"><b>@manData.ManagerInformation.player_first_name @manData.ManagerInformation.player_last_name</b></span></h1>
        <p>Please insert a different manager ID to view their data.</p>
    }
    else 
    {
        <h1 class="display-4">Welcome</h1>
        <p>Please insert your manager ID to view your data.</p>
    }

    <form method="post" enctype="multipart/form-data" asp-controller="Page" asp-action="ManagerView">
        Manager ID: <input type="text" width="10" name="manager_id" id="manager_id"/>
        &nbsp;&nbsp;
        <input type="submit" value="Get Data" style="background-color: #05386B; color: white; border-radius: 5px;"></>
        <hr/>
        @if (DataService.HasManagerData)
        {
            @*Populates general manager information*@
            <p>Team Name: <b>@manData.ManagerInformation.name</b></p>
            <small class="text-muted">Joined: @manData.ManagerInformation.joined_time.ToShortDateString()</small>
            <hr/>
        }
    </form> 
</div>


