@{
    ViewData["Title"] = "Manager View";
    var manData = DataService.Data.ManagerData;
    var GameweekValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.number).ToList()) : null;
    var GamweekPointsValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.points).ToList()) : null;  
    var OverallRankValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.overall_rank).ToList()) : null;  
}
  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <title></title>  
</head>  
<body>  
    <div class="text-center">
        @if (DataService.HasManagerData)
        {
            <h1 class="display-4">Welcome <span style="color: #05386B;"><b>@manData.ManagerInformation.player_first_name @manData.ManagerInformation.player_last_name</b></span></h1>
            <p>Please insert a different manager ID to view their data.</p>
        }
        else 
        {
            <h1 class="display-4">Welcome</h1>
            <p>Please insert your manager ID to view your data.</p>
        }

        <form method="post" enctype="multipart/form-data" asp-controller="Page" asp-action="ManagerView">
            Manager ID: <input type="text" width="10" name="manager_id" id="manager_id"/>
            &nbsp;&nbsp;
            <input type="submit" value="Get Data" style="background-color: #05386B; color: white; border-radius: 5px;"></>
            <hr/>
            @if (DataService.HasManagerData)
            {
                @*Populates general manager information*@
                <p>Team Name: <b>@manData.ManagerInformation.name</b></p>
                <small class="text-muted">Joined: @manData.ManagerInformation.joined_time.ToShortDateString()</small>
                <hr/>
            }
        </form> 
    </div>

    @if (manData != null && manData.ManagerInformation != null)
    {
        @await Html.PartialAsync("/Views/Charts/_LineChart.cshtml", new FPLForecaster.Models.LineChartData(){
            chartId = "gameweekPointsChart",
            chartTitle = "Gameweek Points for Current Season",
            xValuesJson = GameweekValues,
            yValuesJson = GamweekPointsValues,
            xLabel = "Gameweek",
            yLabel = "Points",
            hoverLabel = "Points: ",
            hoverLabelBefore = false,
            hoverTitle = "Gameweek ",
            hoverTitleBefore = true,
            height_pixels = "500"
        }); 
        <hr/>
        @await Html.PartialAsync("/Views/Charts/_LineChart.cshtml", new FPLForecaster.Models.LineChartData(){
            chartId = "overallRankChart",
            chartTitle = "Overall Rank for Current Season",
            xValuesJson = GameweekValues,
            yValuesJson = OverallRankValues,
            xLabel = "Gameweek",
            yLabel = "Rank",
            hoverTitle = "Gameweek ",
            hoverTitleBefore = true,
            hoverLabel = "Overall Rank: ",
            hoverLabelBefore = true,
            height_pixels = "500"
        });
    }
</body>